<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <select (change)="onSelect($event)">
        <option>
          Select Manager
        </option>
        <option *ngFor="let manager of ManagerList">
          {{manager.managername}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-piechart [manager]="selectedManager"></app-piechart>
    </div>
    <div class="col">
      <app-barchart [manager]="selectedManager"></app-barchart>
    </div>
  </div>
</div>